<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Curso Ionic v3 Oficina 5</h3>

  <!-- Botão Toast -->
  <button ion-button (click)="presentToast('toast-error', 'bottom')">Test Toast</button>

  <!-- Botão barcode -->
  <button ion-button (click)="codigoBarra()">Barcode</button>
  <!-- Resultado do barcode -->
  <h3>{{cdBarra}}</h3>

  <!-- Botão Camera -->
  <button ion-button full (click)="takePhoto()">
    <ion-icon name="camera"> </ion-icon> Tira Foto 2
  </button>

  <!-- lista fotos tiradas da camera-->
  <ion-col col-12 *ngFor="let photo of photos; let id = index">
    <ion-card>
      <img [src]="photo" *ngIf="photo" />
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name="trash" (click)="deletePhoto(id)"></ion-icon> &emsp; Excluir
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-col>



</ion-content>